:root {
  --Dark-main-color: #202020;
  --White-main-color: #ebebeb;
  --Dark-text-color: #121212;
  --White-text-color: #E0E0E0;
}

.light {
  --Dark-main-color:#ebebeb;
  --White-main-color: #202020;
  --Dark-text-color: #E0E0E0;
  --White-text-color: #121212;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  -webkit-transition: background-color 800ms , color 800ms;
  transition: background-color 800ms , color 800ms;
}

.White-theme-text {
  color: var(--White-text-color);
}

.white-BG {
  background: var(--White-main-color);
}

.white-shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(172, 172, 172, 0.534);
          box-shadow: 0px 4px 4px rgba(172, 172, 172, 0.534);
}

.white-menubtn {
  fill: var(--White-main-color) !important;
}

.menu-White-Rborder {
  border-right: 1px solid var(--White-text-color);
}

.WhiteSB::-webkit-scrollbar {
  width: 17px;
  background: var(--Dark-main-color);
}

.WhiteSB::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px 10px var(--Dark-main-color);
          box-shadow: inset 0 0 10px 10px var(--Dark-main-color);
  border: solid 3px transparent;
}

.WhiteSB::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 15px 15px var(--White-main-color);
          box-shadow: inset 0 0 15px 15px var(--White-main-color);
  border: solid 3px transparent;
  border-radius: 30px;
}

.dark-theme-text {
  color: var(--Dark-text-color);
}

.dark-BG {
  background: var(--Dark-main-color);
}

.dark-shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.Dark-menubtn {
  fill: var(--Dark-main-color) !important;
}

.menu-Dark-Rborder {
  border-right: 1px solid var(--Dark-text-color);
}

.DarkSB::-webkit-scrollbar {
  width: 17px;
  background: var(--White-main-color);
}

.DarkSB::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px 10px var(--White-main-color);
          box-shadow: inset 0 0 10px 10px var(--White-main-color);
  border: solid 3px transparent;
}

.DarkSB::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 15px 15px var(--Dark-main-color);
          box-shadow: inset 0 0 15px 15px var(--Dark-main-color);
  border: solid 3px transparent;
  border-radius: 30px;
}

.Head-text {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.625rem;
  text-align: center;
}

.subH-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

.Desc-text {
  font-style: normal;
  font-weight: normal;
  font-size: .8rem;
  line-height: 0.775rem;
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
}

.btn:hover {
  text-decoration: underline;
}

.btn:focus {
  text-decoration: underline;
}

.btn:active {
  text-decoration: underline;
}

.btn:focus-visible {
  text-decoration: underline;
}

.btn:disabled {
  text-decoration: none;
  opacity: .5;
  cursor: not-allowed;
}

.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
}

.social-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-btn:focus-visible {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.prim-btn {
  padding: 1rem;
  min-width: 6rem;
  border-radius: 20px;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.sec-btn {
  padding: 1rem;
  min-width: 6rem;
  border-radius: 20px;
  font-size: 1rem !important;
}

.btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu {
  position: fixed;
  left: -100%;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  gap: 45px;
  width: 35%;
  -webkit-transition: left 500ms ease-in-out !important;
  transition: left 500ms ease-in-out !important;
  z-index: 1000;
}

.Menu a {
  text-decoration: none;
  opacity: .7;
  text-transform: uppercase;
  font-size: 2rem;
}

.Menu a:hover {
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 15px;
  left: 85%;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important;
  cursor: pointer;
}

.close-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.close-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.close-btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.close-btn:focus-visible {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-btn {
  position: fixed;
  left: 90%;
  top: 90%;
  color: #ffff;
  visibility: visible;
  -webkit-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important;
  cursor: pointer;
}

.menu-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-btn:focus-visible {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem;
  gap: 48px;
  width: 100%;
  height: 100vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}

.social > a {
  text-decoration: none;
}

#top-logo {
  display: none;
  width: 128px;
  position: fixed;
  top: 0;
  opacity: 0%;
  z-index: 10000;
  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;
}

.about-colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  padding: 1rem;
}

.about-colm div {
  height: 80%;
  font-size: 1.3rem;
  padding: 0 0 0 3rem;
  text-align: left;
  line-height: 2rem;
}

.about-colm img {
  width: 256px;
  -webkit-transition: all 300ms !important;
  transition: all 300ms !important;
}

.about-colm img:hover {
  border-radius: 50%;
}

.colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.colm input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  text-align: left !important;
  padding: 1rem;
}

.colm textarea {
  position: relative;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  text-align: left !important;
  padding: 1rem;
  z-index: 0;
}

.project-colm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  height: 100%;
  gap: 1rem;
  overflow-x: auto;
}

.p-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40%;
  min-height: 40%;
  border-radius: 10px;
  padding: 1rem;
}

.p-card img {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.p-card .Head-text {
  font-size: 1rem;
}

.p-card .Desc-text {
  font-size: .7rem;
  width: 25ch;
}

#About {
  gap: 50px;
}

#Project {
  gap: 0;
}

#contact form {
  min-width: 50%;
}

#theme {
  position: fixed;
  left: 5%;
  top: 90%;
  z-index: 10000;
  cursor: pointer;
  background: none !important;
  text-decoration: none !important;
}

.click {
  -webkit-animation: 1s cubic-bezier(1, 1.02, 1, 0.79) 1 forwards preExpl;
          animation: 1s cubic-bezier(1, 1.02, 1, 0.79) 1 forwards preExpl;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.past-click {
  -webkit-animation: 1s cubic-bezier(1, 1.02, 0.82, 0.33) 1 forwards afterExpl;
          animation: 1s cubic-bezier(1, 1.02, 0.82, 0.33) 1 forwards afterExpl;
}

@-webkit-keyframes prevexpl {
  0% {
    width: 50px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes prevexpl {
  0% {
    width: 50px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes preExpl {
  0% {
    -webkit-transform: scale(1) rotate(0deg) translateY(0px) translateX(0px);
            transform: scale(1) rotate(0deg) translateY(0px) translateX(0px);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(0deg) translateY(3.2px) translateX(3.2px);
            transform: rotate(0deg) translateY(3.2px) translateX(3.2px);
  }
  30% {
    -webkit-transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
            transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg) translateY(3.2px) translateX(3.2px);
            transform: rotate(20deg) translateY(3.2px) translateX(3.2px);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
            transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
  }
  80% {
    -webkit-transform: scale(1.8) rotate(0deg) translateY(3.2px) translateX(3.2px);
            transform: scale(1.8) rotate(0deg) translateY(3.2px) translateX(3.2px);
  }
  90% {
    -webkit-transform: scale(2) rotate(20deg) translateY(-3.2px) translateX(-3.2px);
            transform: scale(2) rotate(20deg) translateY(-3.2px) translateX(-3.2px);
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
}

@keyframes preExpl {
  0% {
    -webkit-transform: scale(1) rotate(0deg) translateY(0px) translateX(0px);
            transform: scale(1) rotate(0deg) translateY(0px) translateX(0px);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(0deg) translateY(3.2px) translateX(3.2px);
            transform: rotate(0deg) translateY(3.2px) translateX(3.2px);
  }
  30% {
    -webkit-transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
            transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg) translateY(3.2px) translateX(3.2px);
            transform: rotate(20deg) translateY(3.2px) translateX(3.2px);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
            transform: rotate(-20deg) translateY(-3.2px) translateX(-3.2px);
  }
  80% {
    -webkit-transform: scale(1.8) rotate(0deg) translateY(3.2px) translateX(3.2px);
            transform: scale(1.8) rotate(0deg) translateY(3.2px) translateX(3.2px);
  }
  90% {
    -webkit-transform: scale(2) rotate(20deg) translateY(-3.2px) translateX(-3.2px);
            transform: scale(2) rotate(20deg) translateY(-3.2px) translateX(-3.2px);
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
}

@-webkit-keyframes afterExpl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes afterExpl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media all and (min-width: 1000px) {
  .about-colm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    margin: auto 0;
  }
  .about-colm div {
    height: 100%;
    line-height: 2.75rem;
  }
  .about-colm img {
    width: 400px;
  }
}

@media all and (min-width: 1300px) {
  .about-colm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    margin: auto 0;
  }
  .about-colm div {
    height: 100%;
    width: 70ch;
    font-size: 1.5rem !important;
    padding-left: 3rem;
  }
  .about-colm div p {
    margin-top: 2.75rem;
    line-height: 2rem;
  }
  .about-colm img {
    width: 50%;
  }
}

@media all and (max-height: 650px) {
  .about-colm div {
    line-height: 1.79rem;
  }
}
/*# sourceMappingURL=style.css.map */